@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.woff) format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/Roboto-Medium.woff) format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Roboto-Bold.woff) format("woff");
}

@font-face {
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/PT-Mono-Regular.woff) format("woff");
}

@font-face {
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/PT-Mono-Bold.woff) format("woff");
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 100%;
  line-height: 1.2;
}

pre {
  font-family: "PT Mono", monospace;
}
